<div id="content" class="container"></div>

<h1> Welcome to Forklol! </h1>
  <body>
  <div class="container">

    <div class ="row">
      <label> Enter Player
        <input disabled id="submit_box"> </input>
      </label>

      <button type='button' id="play_button" class="btn-primary btn">Play</button>

      <div id="timer_display" style="font-size: 20px; background: orange" class="label label-info">:05</div>
    </div>

    <div class="row">

      <div class="Hero-unit col-xs-8">
        <h3> Name all the NBA players who have won both the regular season and finals MVP in the same year.</h3>
      </div>

    </div>

    <div class="row-fluid" style="margin:5px">
        <div id="progress-text" style="height:50px; font-size: 30px; background: orange" class = "label col-xs-2">0/10</div>

      <div class="progress" style="width: 400px; height: 50px; background:red">
        <div id="progress-bar" class="bar" style="height:100%; width:0%; background:yellow">
        </div>
      </div>

    </div>


    <div class="row" style="margin:10px;">
      <div class='col-xs-4'>
          <table class='table table-bordered table-striped'>
            <tr><th>Season(s)</th><th>Player</th></tr>
             <tr><td >1969-70</td><td class="answer-field" id="0"></td></tr>
             <tr><td >1970-71</td><td class="answer-field" id="1"></td></tr>
             <tr><td >1982-83</td><td class="answer-field" id="2"></td></tr>
             <tr><td >1983-84, 1985-86</td><td class="answer-field" id="3"></td></tr>
             <tr><td >1986-87</td><td class="answer-field" id="4"></td></tr>
           </table >
      </div>
      <div class='col-xs-4'>
          <table class="table table-bordered table-striped">
            <tr><th>Season(s)</th><th>Player</th></tr>
            <tr><td >1991-92, 1995-96, 1997-98</td><td class="answer-field" id="5"></td></tr>
            <tr><td >1993-94</td><td class="answer-field" id='6'></td></tr>
            <tr><td >1999-2000</td><td class="answer-field" id="7"></td></tr>
            <tr><td >2002-2003</td><td class="answer-field" id="8"></td></tr>
            <tr><td >2011-2012, 2012-2013</td><td class="answer-field" id="9"></td></tr>
          </table>
      </div>
     </div>
  </div>

  </body>

<script>
  $(function() {
      var $input = $('#submit_box');

      var updateProgress = function(){
        $progress = $("#progress-bar");

        var fraction = filled_in_answers.length/answers.length

        $('#progress-text').html(filled_in_answers.length + '/' + answers.length)

        var percentage = Math.floor(fraction*100);

        $progress.width(percentage+'%');
      }

      var checkAnswer = function(response){
        if (answers.indexOf(response) >= 0){
            var input_id = answers.indexOf(response).toString();
            var $element = $('#' + input_id);
            $element.append(response);
            $element.addClass('success');
            $('#submit_box').val('');
            filled_in_answers.push(response);

            updateProgress();

            if (filled_in_answers.length === answers.length){
                alert("Congrats!");
            }
        }
      };

      var answers = ["Willis Reed", "Lew Alcindor", "Moses Malone", "Larry Bird", "Magic Johnson",
          "Michael Jordan", "Hakeem Olajuwon", "Shaquille O'Neal", "Tim Duncan", "Lebron James"];

      var filled_in_answers = [];

      // Bind to keyup events on the $selector.
      $($input).on('keyup',function(event) {
          checkAnswer($(event.target).val());
      });

    var $play_button = $('#play_button');

    var decrementTime = function(oldTime){
      var min = parseInt(oldTime[0]);
      var sec = parseInt(oldTime[1]);
      if (oldTime[0] === ""){
        min = 0;
      }

      if(sec === 0){
          min -= 1;
          sec = 59;
      } else{
        sec -= 1;
      }

      return [min, sec];
    };

    var displayMissed = function(){
      //eventually will just loop through all question model objects
      $('.answer-field').each(function(){
        var $el = $(this);

        if ($el.html() === ""){
          var id = parseInt($el.attr('id'));
          $el.html(answers[id]);
          $el.addClass('warning');
        }
      })

    }

    var addZero = function(sec){
          if (sec.length === 1){
              sec = "0" + sec;
          }
          return sec;
      };

    $($play_button).on('click', function(){
      $input.prop('disabled', false);

        var $timer = $('#timer_display');
        var $input_that = $input;
        $input.focus();
        var interval = setInterval(function(){
            var oldTime = $timer.html();
            var newTimes = decrementTime(oldTime.split(":"));
            var min = newTimes[0].toString();
            var sec = newTimes[1].toString();

            sec = addZero(sec);

            $timer.html(min + ":" + sec);

            /* Also need to clearInterval if done with quiz*/
            if (min === "0" && sec === "00"){
                clearInterval(interval);
                $input_that.prop('disabled', true);
                alert("Time is up");
                displayMissed();
                $('#play_button').prop('disabled', true)
            }

        },1000)
    });
  });

</script>

