<h1> Welcome to Forklol! </h1>
  <body>
  <div class="container">
    <div class ="row">
      <label> Enter Player
        <input id="submit_box"> </input>
      </label>

      <button type='button' id="play_button" class="btn-primary btn">Play</button>

      <div id="timer_display" style="font-size: 20px" class = "label label-info">5:00</div>
    </div>

    <div class="row">
      <div class='col-xs-4'>
          <table class='table table-bordered'>
            <tr><th>Season(s)</th><th>Player</th></tr>
             <tr><td >1969-70</td><td id="0"></td></tr>
             <tr><td >1970-71</td><td id="1"></td></tr>
             <tr><td >1982-83</td><td id="2"></td></tr>
             <tr><td >1983-84, 1985-86</td><td id="3"></td></tr>
             <tr><td >1986-87</td><td id="4"></td></tr>
           </table >
      </div>
      <div class='col-xs-4'>
          <table class="table table-bordered">
            <tr><th>Season(s)</th><th>Player</th></tr>
            <tr><td >1991-92, 1995-96, 1997-98</td><td id="5"></td></tr>
            <tr><td >1993-94</td><td id='6'></td></tr>
            <tr><td >1999-2000</td><td id="7"></td></tr>
            <tr><td >2002-2003</td><td id="8"></td></tr>
            <tr><td >2011-2012, 2012-2013</td><td id="9"></td></tr>
          </table>
      </div>
     </div>
  </div>

  </body>

<script>
  $(function() {
      var $input = $('#submit_box');

      var checkAnswer = function(response){
        if (answers.indexOf(response) >= 0){
            var input_id = answers.indexOf(response).toString();
            var $element = $('#' + input_id);
            $element.append(response);
            $element.addClass('success');
            $('#submit_box').val('');
            filled_in_answers.push(response);

            if (filled_in_answers.length === answers.length){
                alert("Congrats!");
            }
        }
      };

      var answers = ["Willis Reed", "Lew Alcindor", "Moses Malone", "Larry Bird", "Magic Johnson",
          "Michael Jordan", "Hakeem Olajuwon", "Shaquille O'Neal", "Tim Duncan", "Lebron James"];

      var filled_in_answers = [];

      // Bind to keyup events on the $selector.
      $($input).on('keyup',function(event) {
          checkAnswer($(event.target).val());
      });

    var $play_button = $('#play_button');

    var decrementTime = function(oldTime){
      var min = parseInt(oldTime[0]);
      var sec = parseInt(oldTime[1]);

      if(sec === 0){
          min -= 1;
          sec = 59;
      } else{
        sec -= 1;
      }

      return [min, sec];
    };

    var addZero = function(sec){
          if (sec.length === 1){
              sec = "0" + sec;
          }
          return sec;
      };

    $($play_button).on('click', function(){
        var $timer = $('#timer_display');
        var $input_that = $input;
        $input.focus();
        var interval = setInterval(function(){
            var oldTime = $timer.html();
            var newTimes = decrementTime(oldTime.split(":"));
            var min = newTimes[0].toString();
            var sec = newTimes[1].toString();

            sec = addZero(sec);

            /* Also need to clearInterval if done with quiz*/
            if (min === "0" && sec === "0"){
                clearInterval(interval);
                $input_that.prop('disabled', true);
            }

            $timer.html(min + ":" + sec);
        },1000)
    });
  });

</script>

