<div class="panel-heading" style="text-align:center">
  <h2>
    Pick a Category for Your Quiz
  </h2>
</div>

<div class="panel-body" style="padding:0px; position:relative">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-6">
        <h3>
          Sports
        </h3>
        <button type="button" class="btn btn-cat btn-block btn-warning" ><i class="fa fa-dribbble fa-4x"></i></button>
      </div>
      <div class="col-xs-6">
        <h3>
          Music
        </h3>
        <button type="button" class="btn btn-cat btn-danger btn-block" ><i class="fa fa-headphones fa-4x"></i></button>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-6">
        <h3>
          Movies
        </h3>
        <button type="button" class="btn btn-cat btn-info btn-block" ><i class="fa fa-video-camera fa-4x"></i></button>
      </div>
      <div class="col-xs-6">
        <h3>
          Television
        </h3>
        <button type="button" class="btn btn-cat btn-success btn-block" ><i class="fa fa-tablet fa-4x"></i></button>
      </div>
    </div>

    <div class="row" style="margin-bottom:25px">
      <div class="col-xs-6">
        <h3>
          Gaming
        </h3>
        <button type="button" class="btn btn-cat btn-primary btn-block" ><i class="fa fa-gamepad fa-4x"></i></button>
      </div>
      <div class="col-xs-6">
        <h3>
          Just For Fun
        </h3>
        <button type="button" class="btn btn-cat btn-default btn-block" ><i class="fa fa-cutlery fa-4x"></i></button>
      </div>
    </div>
  </div>

  <div class="col-xs-1" style="height:100%; padding-right:0px; position:absolute; right:0px">
    <button style="height:100%;" type="button" class="btn btn-primary btn-block btn-next">
      Next
    </button>
  </div>
</div>


