<h2>Browse Games</h2>

<hr>

<div class="container">

    <div class="row">
  <div class="col-xs-2">

    <div  class="span3 bs-docs-sidebar">
      <h3>Categories</h3>
    <ul id="sidebar" data-offset-top="60" data-offset-bottom="60" class="nav nav-list bs-docs-sidenav" data-spy="affix" >

      <li class="index-category"><a href="#index/music"><i ></i> Music</a></li>

      <li class="index-category"><a href="#index/sports"><i ></i> Sports</a></li>
       <li class="index-category"><a href="#index/movies"><i ></i> Movies</a></li>
      <li class="index-category"><a id="ok" href="#index/gaming"><i ></i> Gaming</a></li>
      <li class="index-category"><a href="#index/television"><i ></i> Television</a></li>
      <li class="index-category"><a href="#index/fun"><i ></i> Just For Fun</a></li>
      <li class="index-category"><a href="#index"><i ></i> Recently Created</a></li>
    </ul>
  </div>
  </div>
  <div class="col-xs-10">
    <div class="list-of-quizzes col-xs-4">

      <h3>
        <div id="category-header"></div>
      </h3>
      <ul class="list-inline" id="quiz_titles_go_here"></ul>

  </div>

  <div class="col-xs-8">
    <div class="jumbotron" style="display:none;" id="quiz-info">
      <div id="info-header" class="row">

      </div>
      <div data-offset-top="60" data-offset-bottom="60" data-spy="affix" id="info-body" class="row">
        <table class="table">
          <tr><td>Description</td><td class="tb-item" id="table-desc"></td></tr>
          <tr><td>Time Limit</td><td class="tb-item" id="table-time"></td></tr>
          <tr><td># Questions</td><td class="tb-item" id="table-questions"></td></tr>
          <tr><td>Input Type</td><td class="tb-item" id="table-type"></td></tr>
          <tr><td>Category</td><td class="tb-item" id="table-category"></td></tr>
      </div>
    </div>

    <div data-offset-top="60" data-offset-bottom="60" data-spy="affix" id="quiz-display-panel" class="panel panel-primary" style="display:none;">
      <div class="panel-heading">

      </div>
      <div class="panel-body">

        </table>

      </div>
    </div>

  </div>
  </div>
</div>
</div>

