<div class="panel-heading" style="text-align:center">
  <h2>
    <div class="panel-title">Choose a Player Input Method
    </div>
  </h2>
</div>

<div class="panel-body">
  <div class='container'>
    <div class='row'>
      <div class="input-area panel panel-default col-xs-3 col-xs-offset-2" style="text-align:center">
        <div class="panel-heading" style="text-align:center">
          <h3>
            <div class="panel-title">Clicking
            </div>
          </h3>
        </div>
        <div class="panel-body"> Image will go here.
        </div>
        <div class="panel-footer">Description will go here</div>
      </div>
      <div class="input-area panel panel-default col-xs-3 col-xs-offset-2" style="text-align:center">
      <div class="panel-heading" style="text-align:center">
        <h3>
          <div class="panel-title">Typing
          </div>
        </h3>
      </div>
        <div class="panel-body"> Image will go here.
        </div>
        <div class="panel-footer"> Description will go here</div>
      </div>
      <button type="button" class="btn btn-primary btn-lg btn-next" style="margin:30px">
        Next
      </button>
    </div>
  </div>

</div>