<div class="panel-heading" style="text-align:center">
  <h2>
    <div class="panel-title">Choose a Player Input Method
    </div>
  </h2>
</div>

<div class="panel-body" style="padding:0px; position:relative">

  <div class="col-xs-offset-1 col-xs-10" style="padding-top:20px;">
    <div class="input-area panel panel-default col-xs-4 col-xs-offset-2" style="text-align:center">
      <div class="panel-heading" style="text-align:center">
        <h2>Clicking</h2>
      </div>
      <div class="panel-body" style="height:250px;">
        <div class="thumbnail" style="margin-top: -10px; margin-right: 10px;">
          <img src="http://dragondoody.files.wordpress.com/2011/07/full.jpg" alt="cow goes moo">
        </div>
      </div>
      <div class="panel-footer">Stop clicking on cows. Give knowledge a chance.</div>
    </div>
    <div class="input-area panel panel-default col-xs-4 col-xs-offset-1" style="text-align:center">
    <div class="panel-heading" style="text-align:center">
       <h2>Typing</h2>
    </div>
      <div class="panel-body" style="height:250px">
        <div class="thumbnail" style="position: absolute; margin-top: 35px; margin-right: 30px;">
          <img src="http://laughingsquid.com/wp-content/uploads/2013/07/1.jpg" alt="meep">
        </div>
      </div>
      <div class="panel-footer"> Support humanitarian workings conditions for mice.</div>
    </div>
</div>

     <div class="col-xs-1" style="height:100%; padding-right:0px; position:absolute; right:0px">
       <button style="height:100%;" type="button" class="btn btn-primary btn-block btn-next">
         Next
       </button>
     </div>

</div>