  <div class="panel-heading" style="text-align:center">
    <h2>
      <div class="panel-title">Choose a title and time limit
      </div>
    </h2>
  </div>

  <div class="panel-body">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-1'>
          <button type="button" class="btn btn-primary btn-lg btn-prev" style="margin:30px">
            Prev
          </button>
        </div>
         <div class="col-xs-4 col-xs-offset-1">
           <div class="form-group">
             <label> Title </label>
             <input type="text" class="form-control" id="quiz-title" placeholder="Enter title">
           </div>
         </div>
         <div class='col-xs-1 col-xs-offset-3'>
           <button type="button" class="btn btn-primary btn-lg btn-next" style="margin:30px">
             Next
           </button>
         </div>
      </div>
      <div class='row'>
         <div class="col-xs-2 col-xs-offset-2">
           <div class="form-group">
             <label> Time
               <input type="text" class="form-control" id="quiz-minutes" placeholder="Minutes">
                <input type="text" class="form-control" id="quiz-seconds" placeholder="Seconds">
             </label>
           </div>
         </div>
          <div class="col-xs-4 col-xs-offset-2">
              <div class="form-group">
                  <label> Description
                     <textarea  class="form-control" id="quiz-description" placeholder="Description" rows="3"></textarea>
                  </label>
              </div>
          </div>
      </div>
    </div>
  </div>



