<div class="row">
  <h1><%= quiz.get('title') %></h1>
  <hr class="section-heading-spacer">
</div>

    <div class="row">
      <div class="col-xs-12" style="text-align:center">
        <h3> <%= quiz.get('description') %></h3>
      </div>
        <hr class="section-heading-spacer">
    </div>

    <hr class="section-heading-spacer">

<div class="row jumbotron">
  <div class ="row">
    <div class="col-xs-8 col-xs-offset-2">
        <button type='button' id="play_button" class="btn-primary btn btn-lg">Start</button>

        <label> Type Here
          <input disabled id="submit_box"> </input>
        </label>


        <div id="timer_display" style="font-size: 20px; background: orange" class="label label-info"><%= quiz.get('time_limit') %></div>

    </div>
  </div>

  <div class="row">
      <div class="col-xs-2">
        <div class="row">
          <h2><div id="progress-text" style="background: orange" class = "label">0/<%= numQuestions.length %></div></h2>
        </div>
        <div class="row">
          <div class="progress vertical progress-striped active"  style="position: relative; width:55px; height:200px;">
          <div id="progress-bar" class="progress-bar" style="position: absolute; bottom: 0; width:100%; height:0%"></div>
          </div>
        </div>
      </div>


    <div class="col-xs-9 col-xs-offset-1" id="quiz_tables_go_here" style="margin:10px;">
    </div>
  </div>

</div>


