
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-message">
                        <h1>Forklol</h1>
                        <h3>A Robert Xu Production</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-xs-5">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Website Inspired
                        <br>by Sporcle</h2>
                    <p class="lead">Get your fix of quiztastic goodness over at Sporcle! <a target="_blank" href="http://www.sporcle.com/">Visit their website</a> to see the basis of this website!</p>

                </div>
                <div class="col-xs-5 col-xs-offset-1">
                    <img class="img-responsive" src="http://d162758vd3dbpx.cloudfront.net/images/LogoReflect.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">
            <div class="row">
              <div class="col-xs-5">
                <hr class="section-heading-spacer">
                  <img class="img-responsive" src="http://cdn.skilledup.com/wp-content/uploads/2013/09/app-academy-logo.jpg" alt="">
              </div>
                <div class="col-xs-5 col-xs-offset-1">

                    <div class="clearfix"></div>
                 <h2 class="section-heading">App Academy:
                     <br>Special Thanks</h2>
                 <p class="lead">A special thanks to <a target="_blank" href="http://appacademy.io/">App Academy</a> for providing the knowledge and guidance necessary to build this website.  </p>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
   <div class="content-section-a">

       <div class="container">

         <div class="row">
             <div class="col-xs-5">
                 <div class="clearfix"></div>
                 <h2 class="section-heading">Rails and Backbone
                     </h2>
                 <p class="lead">This website was built with <a target="_blank" href="http://rubyonrails.org/">Ruby on Rails 4.1</a>, as well as <a target="_blank" href="http://backbonejs.org/">Backbone.js</a>.</p>
             </div>
             <div class="col-xs-5 col-xs-offset-1" style="height:100px; overflow: hidden">

                 <img class="img-responsive" src="http://file.mrbool.com/mrbool/articles/MuhammadAzamuddin/BackBoneEvents/BackBoneEvents01.png" alt="">
             </div>
         </div>
       </div>
       <!-- /.container -->
   </div>
   <!-- /.content-section-a -->

   <div class="banner">

       <div class="container">
           <div class="row">
             <div class="col-xs-5">
             </div>
               <div class="col-xs-5 col-xs-offset-1">

                   <h2>View the source:</h2>
                   <ul class="list-inline banner-social-buttons">
                       <li><a href="https://github.com/RobertXu/Forklol" class="btn btn-default btn-lg">Github</a>
                       </li>
                   </ul>
              </div>
       </div>
       <!-- /.container -->

   </div>
   <!-- /.banner -->
