

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Forklol</h1>
                    <hr class="intro-divider">
                    <div class="row">
                      <div class="btn-group btn-group-justified">
                        <a href="#index" class="btn btn-info">Start Playing</a>
                        <a href="#quizzes/create" class="btn btn-primary">Make a Quiz</a>
                        <a href="#" class="btn btn-default">Invite Your Friends</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div>
            <div class="inner span12 clearfix">
              <div >
                <h1>Questions, powered by your peers</h1>
                <h2>
                    Explore <strong>vocabulary</strong>, <strong>math</strong>,
                    history, science, geography and all the other stuff you forgot when you graduated.
                </h2>
              </div>
            </div>
             <hr>
        </div>


    <div class="container">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Step 1: Start Playing</h3>
              </div>
              <div class="panel-body">
                <div class="col-xs-4">
                  <p>Down the rabbit hole you go.</p>
                </div>
                <div class="col-xs-2" style="text-align:center">
                  <a href="#index">
                    <button type="button" class="btn btn-success btn-circle"><i class="fa fa-play-circle-o fa-4x"></i></button>
                  </a>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <p>Afraid of keyboards? Try out our mouse clicker quizzes.</p>
                  <p>Afraid of mice as well? How did you get to this website? Please let us know via the contact page.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
           <div class="panel panel-default">
             <div class="panel-heading">
                <h3>Step 2: Make a Quiz</h3>
             </div>
             <div class="panel-body">
               <div class="col-xs-4">
                 <p>The student has become the master. </p>
               </div>
               <div class="col-xs-2" style="text-align:center">
                 <a href="#quizzes/create">
                    <button type="button" class="btn btn-info btn-circle" ><i class="fa fa-edit fa-4x"></i></button>
                 </a>
               </div>
               <div class="col-xs-4 col-xs-offset-1">
                 <p>Tired of getting stumped?</p>
                 <p>Create an account and build quizzes to share the feeling with others.</p>
                 <p>See also: Schadenfreude</p>
               </div>
             </div>
           </div>
          </div>

          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Step 3: ???</h3>
              </div>
              <div class="panel-body">
                <div class="col-xs-4">
                  <p>Keep on Forkloling. </p>
                </div>
                <div class="col-xs-2" style="text-align:center">
                  <a href="#index">
                     <button type="button" class="btn btn-warning btn-circle" ><i class="fa fa-question-circle fa-4x"></i></button>
                  </a>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <p>Don't worry about the negative health effects of excessive Forkloling.</p>
                  <p>There's a light at the end of the tunnel.</p>
                  <p>We Promise.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Step 4: Profit</h3>
              </div>
              <div class="panel-body">
                <div class="col-xs-4">
                  <p>Congratulations! </p>
                  <p> You've reached the other side. </p>
                </div>
                <div class="col-xs-2" style="text-align:center">
                  <a href="https://venmo.com/">
                    <button type="button" class="btn btn-danger btn-circle" ><i class="fa fa-usd fa-4x"></i></button>
                  </a>
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <p>How's the weather over there?</p>
                  <p>Also, per the contract agreed to when you signed up, you owe us a royalty check. </p>
                  <p>  We take Venmo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>










