<table id='table<%= quiz_table.id %>' class='table table-bordered table-striped'>

<tr class="table-header"> <th><%= quiz_table.get('hint_header') %></th> <th><%= quiz_table.get('answer_header') %></th></tr>

</table>